%section.page-section.clearfix
  .container
    .intro
      %img.intro-img.img-fluid.mb-3.mb-lg-0.rounded{:alt => "", :src => image_url('intro.jpg')}/
      .intro-text.left-0.text-center.bg-faded.p-5.rounded
        %h2.section-heading.mb-4
          %span.section-heading-upper Fresh Coffee
          %span.section-heading-lower Worth Drinking
        %p.mb-3
          Tired of waiting for 10 miniutes after ordering a cup of coffee? Not anymore. Find the nearest coffee shop with you, select a cup of coffee, pay online with ease. Now head for the shop, and enjoy your coffee immediately when you walk in!
        .intro-button.mx-auto
          %a.btn.btn-primary.btn-xl{:href => "/shops"} Shops Nearby
