%h1 Shops in CoffeeInAMin

%table
  %thead
    %tr
      %th Name
      %th Address
      %th Description

  %tbody
    - @shops.each do |shop|
      %tr
        %td= link_to shop.name, "/shops/" + shop.id.to_s
        %td= shop.address
        %td= shop.description
