%table
  %thead
    %tr
      %th Name
      %th Price
  %tbody
    - @menu.each do |item|
      %tr
        %td= link_to item.name, "/items/" + item.id.to_s
        %td= item.price

= link_to "Add", "/items/new?shop_id=" + params[:id].to_s if @is_owner

