- content_for :head do
  :javascript
    function google_onSignIn(googleUser) {
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {
          //alert('Google user signed out.');
          window.location.href = "/";
        });
    }

.g-signin2(data-onsuccess="google_onSignIn")
:javascript
    document.cookie = "user_id=; expires = Thu, 01 Jan 1970 00:00:00 GMT";